.header {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: #d9d9d9;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
}

.description {
    font-size: 1.4rem;
}


